.loader {
    animation: rotate 10s linear infinite;
    filter: invert(1);
    opacity: 0.2;
  }
  
  // rotate animation
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }